@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main-content";
}

.header,
.sidebar {
    z-index: 1;
}

.header {
    grid-area: header;
    box-shadow: 0 2px 12px -4px #777;
    padding: 1.5rem 2.5rem;
    display: grid;
    gap: 1rem;
}

.header-icon {
    background-image: url("images/placeholder.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.75rem;
    min-width: 1.75rem;
    border-width: 0px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-searchbar label{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-searchbar input{
    width: 500px;
    background-color: #CCCFCC;
    border-width: 0px;
    height: 1.5rem;
    border-radius: 1rem;
    padding: 0 0.5rem;
}

.header-userInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-greeting {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 0.5rem 1rem;
    align-items: center;
}

.header-greeting > .header-icon {
    grid-row-end: span 2;
}

.header-createContent {
    display: flex;
    gap: 1rem;
}

.header-contentButton {
    border: 0px;
    padding: 0.5rem 1.5rem;
    background-color: #008A6F;
    color: white;
    border-radius: 1rem;
    font-weight: 700;
}

.sidebar {
    grid-area: sidebar;
    background-color: #008A6F;
    color: white;
    font-weight: 700;
    padding: 1.5rem;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 3rem;
}

.sidebar-brand {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar-brandLogo {
    background-image: url("images/placeholder.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.5em;
    min-width: 1.5em;
}

.sidebar-navList {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar-navList a {
    text-decoration: none;
    font-size: 1.2rem;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar-navIcon {
    background-image: url("images/placeholder.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    min-width: 1em;
}

.main-content {
    grid-area: main-content;
    background-color: #EEEEEE;
    display: grid;
    grid-template-columns: 1fr 200px;
    padding: 2rem 2rem 3rem 1rem;
}

.projectGallery-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
}